{% if form %}
	{% form_theme form 'ArnmAraneumBundle:Form:araneum.html.twig' %}
	<form action="{{ path('Araneum_pages_ajax_description_update', {'id': obj.id} ) }}" method="post" {{ form_enctype(form) }} class="form-inline" data-toggle="ajax-form" rel="page-description">
		<fieldset>
	        {{ form_widget(form) }}
	    	<input class="btn btn-primary btn-small" type="submit" value="{{ 'default.form.action.save'|trans }}" />
	    	<a class="btn btn-small" href="{{ path('Araneum_pages_ajax_description_show', {'id': obj.id} ) }}" data-toggle="ajax-control" rel="page-description">{{ 'default.form.action.cancel'|trans }}</a>
	    </fieldset>
	</form>
{% endif%}