{% extends 'ArnmAraneumBundle::araneum.html.twig' %}

{% form_theme form 'ArnmAraneumBundle:Form:araneum.html.twig' %}

{% block title %}
	{{ parent() }} | {{ 'area.form.title.define_new'|trans({'%template_name%': template.name}, 'area') }}
{% endblock %}

{% block content %}
	<div class="page-header">
		<h2>{{ 'area.form.title.define_new'|trans({'%template_name%': template.name}, 'area') }}</h2>
	</div>
	
	{% include 'ArnmAraneumBundle:Misc:messages.html.twig' %}
	
	{% if form %}
		<form action="{{ path('Araneum_area_create', {'templateId': template.id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
			<fieldset>
				{{ form_widget(form) }}
				<div class="form-actions">
			    	<input class="btn btn-primary" type="submit" value="{{ 'area.form.action.define_new'|trans({}, 'area') }}"/>
			    	<input class="btn" type="reset" value="{{ 'default.form.action.reset'|trans }}"/>
			    	<a  class="btn" href="{{ path('Araneum_area',{'templateId': template.id}) }}">{{ 'default.form.action.back_to_list'|trans }}</a>
			    </div>
		    </fieldset>
		</form>
	{% endif%}
{% endblock %}
