{% extends 'ArnmAraneumBundle::araneum.html.twig' %}

{% form_theme edit_form 'ArnmAraneumBundle:Form:araneum.html.twig' %}

{% block title %}
	{{ parent() }} | {{ 'layout.form.title.edit'|trans }}
{% endblock %}

{% block content %}
	<div class="page-header">
		<h2>{{ 'layout.form.title.edit'|trans }}</h2>
	</div>
	
	{% include 'ArnmAraneumBundle:Misc:messages.html.twig' %}
	
	{% if edit_form %}
		<form action="{{ path('Araneum_layout_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
				{{ form_widget(edit_form) }}
				<div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
    			    	<input class="btn btn-primary" type="submit" value="{{ 'layout.form.action.update'|trans }}"/>
    			    	<input class="btn" type="reset" value="{{ 'layout.form.action.reset'|trans }}"/>
    			    	<a  class="btn" href="{{ path('Araneum_layout') }}">{{ 'layout.form.action.back_to_list'|trans }}</a>
    			    	<a href="{{ path('Araneum_layout_delete', { 'id': entity.id }) }}" class="btn btn-danger">
    				        Delete
    				    </a>
    			    </div>
			    </div>
		</form>
	{% endif%}
{% endblock %}