{% extends 'ArnmAraneumBundle::araneum.html.twig' %}


{% block title %}
	{{ parent() }} | {{ 'layout.list.title'|trans }}
{% endblock %}

{% block sidebar %}
	<div class="alert alert-info hint">
		<span class="label label-info">{{ 'default.label.info'|trans }}</span>
  		{{ 'layout.list.info'|trans|raw }}
	</div>
{% endblock %}

{% block content %}
	<div class="page-header">
		<h2>{{ 'layout.list.title'|trans }}</h2>
	</div>
	
	<div class="table-responsive">
        <table class="table table-hover">
    	    <thead>
    	        <tr>
    	            <th>#</th>
    	            <th>{{ 'layout.list.table.head.layout'|trans }}</th>
    	            <th>{{ 'layout.list.table.head.actions'|trans }}</th>
    	        </tr>
    	    </thead>
    	    <tbody>
    	    {% for entity in entities %}
    	        <tr>
    	            <td><a href="{{ path('Araneum_layout_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
    	            <td>{{ entity.layout }}</td>
    	            <td>
                        <a href="{{ path('Araneum_layout_show', { 'id': entity.id }) }}" class="btn btn-default">show</a>
                        <a href="{{ path('Araneum_layout_edit', { 'id': entity.id }) }}" class="btn btn-default">edit</a>
    	            </td>
    	        </tr>
    	    {% endfor %}
    	    </tbody>
    	</table>
	</div>
	
	<div class="well">
	    <a href="{{ path('Araneum_layout_new') }}" class="btn btn-primary">
	        {{ 'layout.list.action.create_new'|trans }}
	    </a>
    </div>
{% endblock %}
