{% extends 'ArnmAraneumBundle::araneum.html.twig' %}

{% form_theme form 'ArnmAraneumBundle:Form:araneum.html.twig' %}

{% block title %}
	{{ parent() }} | {{ 'layout.form.title.create'|trans }}
{% endblock %}

{% block content %}
	<div class="page-header">
		<h2>{{ 'layout.form.title.create'|trans }}</h2>
	</div>
	
	{% include 'ArnmAraneumBundle:Misc:messages.html.twig' %}
	
	{% if form %}
		<form action="{{ path('Araneum_layout_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
			<fieldset>
				{{ form_widget(form) }}
				<div class="form-actions">
			    	<input class="btn btn-primary" type="submit" value="{{ 'layout.form.action.create'|trans }}"/>
			    	<input class="btn" type="reset" value="{{ 'layout.form.action.reset'|trans }}"/>
			    	<a  class="btn" href="{{ path('Araneum_layout') }}">{{ 'layout.form.action.back_to_list'|trans }}</a>
			    </div>
		    </fieldset>
		</form>
	{% endif%}
{% endblock %}
