{% extends 'ArnmAraneumBundle::araneum.html.twig' %}

{% block title %}
	{{ parent() }} | {{ 'page.form.title.update'|trans }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	{% javascripts
	    '@ArnmPagesBundle/Resources/public/js/app.js'
	    '@ArnmPagesBundle/Resources/public/js/controllers.js'
	    '@ArnmAraneumBundle/Resources/public/js/form/app.js'
	    '@ArnmAraneumBundle/Resources/public/js/form/controllers.js'
	    '@ArnmAraneumBundle/Resources/public/js/tinymce.js'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block fullcontent %}
    <input type="hidden" ng-init="pageId = {{ page.id }}; restBaseUrl = '{{ path('araneum_page_rest_get', { 'id': page.id }) }}';" />
	<div id="page-admin-content" ng-view>
	</div>
{% endblock %}
