<div class="container-fluid">
    <div class="row">
        <div class="page-header">
        	<h2>{{ 'page.elements.template'|trans }}</h2>
        </div>
        {% form_theme form 'ArnmAraneumBundle:Form:araneum.html.twig' %}
        <form class="form-inline" role="form">
            {{ form_widget(form) }}
            <button class="btn btn-primary" ng-click="update(page)">{{ 'default.form.action.update'|trans }}</button>
        </form>
    </div>
    <div class="row">
        <div class="col-md-8" ng-include="templateTmpl">
        </div>
        <div class="col-md-4">
           <div class="panel panel-default widgets-container">
              <div class="panel-heading">Widgets</div>
              <div class="panel-body">
                <p>
                    List is a list of all {{ '{{' }}widgetsList.length{{ '}}' }} available widgets in the systems.
                </p>
                <input type="search" class="form-control" ng-model="q" placeholder="search...">
              </div>
              <div class="list-group source" ng-model="widgetsList" ui-sortable="sortableOptions">
                <div class="widget" ng-repeat="widget in widgetsList | filter:q" data-widget-title="{{ '{{' }}widget.title{{ '}}' }}" data-widget-bundle="{{ '{{' }}widget.bundle{{ '}}' }}" data-widget-controller="{{ '{{' }}widget.controller{{ '}}' }}" data-widget-id="">
                    {{ '{{' }}widget.title{{ '}}' }}                    
                </div>
              </div>
           </div>
        </div>
    </div>
</div>

<div class="modal fade" id="configModal" tabindex="-1" role="dialog" aria-labelledby="configModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="configModalLabel">{{ '{{' }}widgetConfigFormTitle{{ '}}' }}</h4>
      </div>
      <form class="form" role="form" ng-submit="configSave()">
          <div class="modal-body" ng-include="widgetConfigFormTmpl">
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-default" type="reset" ng-click="configCancel()">Cancel</button>
          </div>
      </form>
    </div>
  </div>
</div>