{% extends 'ArnmAraneumBundle::araneum.html.twig' %}

{% block title %}
	{{ parent() }} | Pages Admin
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/arnmaraneum/treesorter/css/treesorter.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
	{{ parent() }}
    <script src="{{ asset('bundles/arnmaraneum/treesorter/jquery.jstree.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/arnmaraneum/treesorter/treesorter.js') }}" type="text/javascript"></script>
{% endblock %}

{% block sidebar %}
	<div class="alert alert-info hint">
		<span class="label label-info">{{ 'default.label.info'|trans }}</span>
  		{{ 'page.tree.info'|trans|raw }}
  		<span class="label label-warning">{{ 'default.label.note'|trans|raw }}</span>{{ 'page.tree.note'|trans|raw }}
	</div>
{% endblock %}
 
{% block content %}
	{% include 'ArnmAraneumBundle:Misc:messages.html.twig' %}
	{% if tree|length > 0 %}
	  <div class="pages-tree-container">
		  <div id="root">
		  	<div class="template" id="tree-item-tools">
	          <span class="tree-actions">
	             <span class="edit" href="{{ path('ArnmPagesBundle_page_show', { 'id': '1' }) }}">{{ 'pages.tree.action.show'|trans }}</span>
	             <span class="add-sub-page" href="{{ path('ArnmPagesBundle_page_new', { 'parent_id': '1' }) }}">{{ 'pages.tree.action.new_subpage'|trans }}</span>
	             <span class="delete" href="{{ path('ArnmPagesBundle_page_delete', { 'id': '1' }) }}">{{ 'pages.tree.action.delete'|trans }}</span>
	           </span>
	        </div>
		    <div class="sortable-tree">
		      {% include 'ArnmPagesBundle::renderTree.html.twig' with {'tree': tree} %}
		    </div>
		  </div>
	  </div>
	  <script type="text/javascript">
		var nodeSortPostUrl = '{{ path('ArnmPagesBundle_page_sort') }}';
	  </script>
	{% else %}
	  <a href="{{ path('ArnmPagesBundle_page_new') }}" class="btn primary">
	  	{% trans %}pages.page.create{% endtrans %}
	  </a>
	{% endif%}
{% endblock %}